/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f172a;
    color: #ffffff;
    line-height: 1.6;
}

/* Header */
.header {
    width: 100%;
    background-color: #020617;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid #1e293b;
}

.navbar {
    max-width: 1200px;
    margin: auto;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #38bdf8;
    font-size: 24px;
}

.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-links a {
    color: #e2e8f0;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #38bdf8;
}

/* Home Section */
.home {
    width: 100%;
    min-height: 100vh;
    background-color: #2f4963;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 100px 20px 60px;
}

.home-content {
    max-width: 1000px;
    width: 100%;
}

/* Pixel Character */
.pixel-character-box {
    margin-bottom: 170px;
}

.pixel-character {
    width: 450px;
    height: auto;

    image-rendering: pixelated;
    image-rendering: crisp-edges;

    filter: drop-shadow(14px 16px 6px rgba(0, 0, 0, 0.35));
}

/* Name */
.home h1 {
    font-size: 60px;
    font-weight: 800;
    color: #f3efe6;
    letter-spacing: 1px;
    margin-bottom: 7px;
}

.home-text {
    margin-top: 70px;
}

/* Line */
.home-line {
    width: 560px;
    height: 1px;
    background-color: #f3efe6;
    margin: 0 auto 22px;
    opacity: 0.8;
}

/* Job Title */
.home h2 {
    font-size: 40px;
    font-weight: 400;
    color: #f3efe6;
}

/* Responsive */
@media (max-width: 768px) {
    .pixel-character {
        width: 170px;
    }

    .pixel-character-box {
        margin-bottom: 55px;
    }

    .home h1 {
        font-size: 42px;
    }

    .home-line {
        width: 280px;
    }

    .home h2 {
        font-size: 26px;
    }
}

/* Common Section */
.section {
    padding: 90px 40px;
    max-width: 1200px;
    margin: auto;
}

.dark-section {
    max-width: 100%;
    background-color: #020617;
}

.dark-section .section-title,
.dark-section .skills-container,
.dark-section .contact-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 45px;
    color: #38bdf8;
}

/* About Section */
.about-section {
    width: 100%;
    min-height: 100vh;
    background-color: #15161c;
    padding: 80px 40px 90px;
    color: #f3efe6;
}

/* Title */
.about-title {
    text-align: center;
    font-size: 58px;
    font-weight: 300;
    color: #f3efe6;
    margin-bottom: 35px;
}

/* Main Layout */
.about-container {
    max-width: 1050px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 28px;

    /* Quan trọng: cho 2 cột cao bằng nhau */
    align-items: stretch;
}

/* Left Column */
.about-left {
    height: 100%;
}

/* Image Box */
.about-image-box {
    background-color: #24272e;
    border-radius: 16px;
    padding: 20px;

    height: 100%;
}

/* Image */
.about-image {
    width: 100%;
    height: 100%;

    object-fit: cover;
    display: block;
    border-radius: 4px;
}

/* Right Text Box */
.about-content-box {
    background-color: #24272e;
    border-radius: 9px;
    padding: 24px 28px;

    color: #ffffff;
    font-size: 16px;
    line-height: 1.45;
}

.about-content-box p {
    margin-bottom: 18px;
}

.about-content-box p:last-child {
    margin-bottom: 0;
}

.about-content-box strong {
    color: #ffffff;
    font-weight: 700;
}

/* Responsive */
@media (max-width: 900px) {
    .about-section {
        padding: 70px 22px;
    }

    .about-title {
        font-size: 42px;
    }

    .about-container {
        grid-template-columns: 1fr;
        max-width: 520px;
    }

    .about-image-box {
        height: auto;
    }

    .about-image {
        height: 320px;
    }
}

/* Contact */
.contact-container {
    text-align: center;
}

.contact-container p {
    margin-bottom: 12px;
    font-size: 18px;
    color: #cbd5e1;
}

.contact-container a {
    color: #38bdf8;
    text-decoration: none;
}

.contact-container a:hover {
    text-decoration: underline;
}

/* Footer */
.footer {
    background-color: #020617;
    text-align: center;
    padding: 25px;
    color: #94a3b8;
    border-top: 1px solid #1e293b;
}

/* Responsive */
@media (max-width: 900px) {
    .navbar {
        flex-direction: column;
        gap: 15px;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero h1 {
        font-size: 42px;
    }

    .hero h2 {
        font-size: 24px;
    }

    .skills-container {
        grid-template-columns: 1fr;
    }

    .project-card {
        grid-template-columns: 1fr;
    }

    .project-video iframe {
        min-height: 250px;
    }
}
